@import "includes/variables";
// Start Global Values
nav {
  z-index: 1 !important;
}
// End Global Values
// Start Main Content
.main {
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    padding-top: 50px;
    .container-fluid {
      position: relative;
      a {
        display: block;
        width: 100%;
        height: 300px;
        img {
          object-fit: cover;
          width: 100%;
          height: 300px;
          border-radius: 3px;
        }
      }
    }
  }
}
// End Main Content
// Start menu
.fancybox-thumbs {
  padding: 7px !important;
  background-color: $lightBackground !important;
}
.fancybox-progress {
  background-color: $mainColor;
}
.fancybox-thumbs__list a::before {
  border-color: $mainColor !important;
}
// End menu