include ../includes/galleryIncludes.pug
doctype html
html(lang="en")
  head
    +head("Animals | Amr Ahmed")
  body
    +nav
    //- start main page
    .main
      +heading("Animals")
      .container
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/animals/1.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/animals/1.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/animals/2.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/animals/2.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/animals/3.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/animals/3.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/animals/4.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/animals/4.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/animals/5.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/animals/5.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/animals/6.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/animals/6.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/animals/7.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/animals/7.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/animals/8.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/animals/8.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/animals/9.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/animals/9.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/animals/10.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/animals/10.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/animals/11.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/animals/11.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/animals/12.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/animals/12.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/animals/13.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/animals/13.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/animals/14.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/animals/14.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/animals/15.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/animals/15.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/animals/16.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/animals/16.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/animals/17.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/animals/17.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/animals/18.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/animals/18.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/animals/19.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/animals/19.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/animals/20.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/animals/20.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/animals/21.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/animals/21.jpg")
    //- End main page
    +footer
    +loading
    +scripts