include ../includes/galleryIncludes.pug
doctype html
html(lang="en")
  head
    +head("Buildings | Amr Ahmed")
  body
    +nav
    //- start main page
    .main
      +heading("Buildings")
      .container
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/buildings/1.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/buildings/1.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/buildings/2.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/buildings/2.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/buildings/3.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/buildings/3.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/buildings/4.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/buildings/4.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/buildings/5.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/buildings/5.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/buildings/6.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/buildings/6.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/buildings/7.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/buildings/7.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/buildings/8.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/buildings/8.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/buildings/9.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/buildings/9.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/buildings/10.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/buildings/10.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/buildings/11.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/buildings/11.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/buildings/12.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/buildings/12.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/buildings/13.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/buildings/13.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/buildings/14.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/buildings/14.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/buildings/15.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/buildings/15.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/buildings/16.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/buildings/16.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/buildings/17.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/buildings/17.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/buildings/18.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/buildings/18.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/buildings/19.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/buildings/19.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/buildings/20.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/buildings/20.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/buildings/21.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/buildings/21.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/buildings/22.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/buildings/22.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../gallery/buildings/23.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/buildings/23.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/buildings/24.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/buildings/24.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/buildings/25.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/buildings/25.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/buildings/26.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/buildings/26.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/buildings/27.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/buildings/27.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/buildings/28.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/buildings/28.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/buildings/29.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/buildings/29.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/buildings/30.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/buildings/30.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/buildings/31.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/buildings/31.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/buildings/32.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/buildings/32.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/buildings/33.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/buildings/33.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/buildings/34.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/buildings/34.jpg")
    //- End main page
    +footer
    +loading
    +scripts