include ../includes/galleryIncludes.pug
doctype html
html(lang="en")
  head
    +head("Cars & Boats | Amr Ahmed")
  body
    +nav
    //- start main page
    .main
      +heading("Cars & Boats")
      .container
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/cars-and-boats/1.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/cars-and-boats/1.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/cars-and-boats/2.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/cars-and-boats/2.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/cars-and-boats/3.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/cars-and-boats/3.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/cars-and-boats/4.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/cars-and-boats/4.jpg")
    //- End main page
    +footer
    +loading
    +scripts