include ../includes/galleryIncludes.pug
doctype html
html(lang="en")
  head
    +head("Green View | Amr Ahmed")
  body
    +nav
    //- start main page
    .main
      +heading("Green View")
      .container
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/green-view/1.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/green-view/1.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/green-view/2.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/green-view/2.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/green-view/3.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/green-view/3.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/green-view/4.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/green-view/4.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/green-view/5.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/green-view/5.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/green-view/6.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/green-view/6.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/green-view/7.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/green-view/7.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/green-view/8.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/green-view/8.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/green-view/9.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/green-view/9.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/green-view/10.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/green-view/10.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/green-view/11.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/green-view/11.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/green-view/12.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/green-view/12.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/green-view/13.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/green-view/13.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/green-view/14.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/green-view/14.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/green-view/15.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/green-view/15.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/green-view/16.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/green-view/16.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/green-view/17.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/green-view/17.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/green-view/18.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/green-view/18.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/green-view/19.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/green-view/19.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/green-view/20.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/green-view/20.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/green-view/21.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/green-view/21.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/green-view/22.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/green-view/22.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/green-view/23.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/green-view/23.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/green-view/24.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/green-view/24.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/green-view/25.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/green-view/25.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/green-view/26.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/green-view/26.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/green-view/27.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/green-view/27.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/green-view/28.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/green-view/28.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/green-view/29.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/green-view/29.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/green-view/30.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/green-view/30.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/green-view/31.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/green-view/31.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/green-view/32.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/green-view/32.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/green-view/33.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/green-view/33.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/green-view/34.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/green-view/34.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/green-view/35.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/green-view/35.jpg")
    //- End main page
    +footer
    +loading
    +scripts