include ../includes/galleryIncludes.pug
doctype html
html(lang="en")
  head
    +head("Plants | Amr Ahmed")
  body
    +nav
    //- start main page
    .main
      +heading("Plants")
      .container
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/plants/1.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/plants/1.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/plants/2.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/plants/2.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/plants/3.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/plants/3.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/plants/4.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/plants/4.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/plants/5.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/plants/5.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/plants/6.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/plants/6.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/plants/7.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/plants/7.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/plants/8.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/plants/8.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/plants/9.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/plants/9.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/plants/10.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/plants/10.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/plants/11.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/plants/11.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/plants/12.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/plants/12.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/plants/13.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/plants/13.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/plants/14.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/plants/14.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/plants/15.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/plants/15.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/plants/16.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/plants/16.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/plants/17.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/plants/17.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/plants/18.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/plants/18.jpg")
    //- End main page
    +footer
    +loading
    +scripts