include ../includes/galleryIncludes.pug
doctype html
html(lang="en")
  head
    +head("Sea | Amr Ahmed")
  body
    +nav
    //- start main page
    .main
      +heading("Sea")
      .container
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/sea/1.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/sea/1.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/sea/2.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/sea/2.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/sea/3.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/sea/3.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/sea/4.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/sea/4.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/sea/5.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/sea/5.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/sea/6.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/sea/6.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/sea/7.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/sea/7.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/sea/8.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/sea/8.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/sea/9.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/sea/9.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/sea/10.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/sea/10.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/sea/11.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/sea/11.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/sea/12.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/sea/12.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/sea/13.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/sea/13.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/sea/14.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/sea/14.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/sea/15.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/sea/15.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/sea/16.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/sea/16.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/sea/17.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/sea/17.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/sea/18.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/sea/18.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/sea/19.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/sea/19.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/sea/20.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/sea/20.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/sea/21.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/sea/21.jpg")
    //- End main page
    +footer
    +loading
    +scripts