include ../includes/galleryIncludes.pug
doctype html
html(lang="en")
  head
    +head("Streets and Subways | Amr Ahmed")
  body
    +nav
    //- start main page
    .main
      +heading("Streets and Subways")
      .container
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/streets-and-subways/1.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/streets-and-subways/1.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/streets-and-subways/2.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/streets-and-subways/2.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/streets-and-subways/3.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/streets-and-subways/3.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/streets-and-subways/4.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/streets-and-subways/4.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/streets-and-subways/5.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/streets-and-subways/5.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/streets-and-subways/6.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/streets-and-subways/6.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/streets-and-subways/7.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/streets-and-subways/7.jpg")
    //- End main page
    +footer
    +loading
    +scripts